<h1>{{ meetId ? "Modifier" : "Ajouter" }} une rencontre</h1>
<form [formGroup]="meetGroup" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Titre (Optionnel)</mat-label>
    <input matInput type="text" placeholder="" [formControl]="titleControl" />
  </mat-form-field>
  <mat-radio-group
    [formControl]="offerTypeControl"
    aria-label="Est-ce que vous offrez ou demandez?"
  >
    <mat-radio-button [value]="1">Je demande</mat-radio-button>
    <mat-radio-button [value]="2">J'offre</mat-radio-button>
  </mat-radio-group>
  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <mat-select [formControl]="typeControl">
      <mat-option *ngFor="let meetType of meetTypes" [value]="meetType">
        {{ meetType }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Date début</mat-label>
    <input
      matInput
      type="datetime-local"
      placeholder="start date"
      [formControl]="dateStartControl"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Date fin</mat-label>
    <input
      matInput
      type="datetime-local"
      placeholder="start date"
      [formControl]="dateEndControl"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Région</mat-label>
    <mat-select [formControl]="regionControl">
      <mat-option *ngFor="let region of regions" [value]="region.code">
        {{ region.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="action-list">
    <button mat-raised-button color="primary" type="submit">Enregistrer</button>
    <button mat-button color="primary" type="button" routerLink="..">Annuler</button>
    <button *ngIf="meetId" mat-raised-button type="button" color="warn" class="delete" (click)="onDelete()">Supprimer</button>
  </div>
</form>

<pre *ngIf="!isProduction">{{ meetGroup.value | json }}</pre>
