<mat-card *ngIf="meet" class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image" [ngClass]="getAvatarClass()"></div>
    <mat-card-title>{{ meet.title }}</mat-card-title>
    <mat-card-subtitle>{{ meet.type }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="meet.id"><b>Id : </b> {{ meet.id }}</div>
    <div><b>Personne : </b> {{ meet.user }}</div>
    <div><b>De </b> {{ meet.dateStart }}<b> à </b>{{ meet.dateEnd }}</div>
    <div><b>Région : </b> {{ meet.region }}</div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onAnswer()">Répondre</button>
    <button mat-button *ngIf="userService.userName === meet.user" [routerLink]="[meet.id]">Modifier</button>
  </mat-card-actions>
</mat-card>
