<app-meet-filter
  [listTemplate]="listTemplate"
  [(sidenavOpened)]="sidenavOpened"
  (meetsChange)="onMeetsChange($event)"
></app-meet-filter>

<ng-template #listTemplate>
  <button mat-raised-button color="primary" (click)="onFilterClick()">
    <mat-icon>filter_alt</mat-icon>
    Filtres
  </button>
  <button mat-raised-button color="primary" routerLink="nouveau">
    <mat-icon>add</mat-icon>
    Nouveau
  </button>

  <div class="list">
    <app-meet-view *ngFor="let meet of meets" [meet]="meet"></app-meet-view>
  </div>
</ng-template>
